<div class="arkeo-chronoditor" layout="column">

    <md-toolbar id='arkeo-chronoditor-toolbar' class="md-primary md-hue-3 fixme">
        <div class="md-toolbar-tools" layout="row">
            <h3 flex="80">
                <md-button ng-click="openLeftMenu()"><md-icon>menu</md-icon></md-button>
                <span translate>CHRONODITOR.HEADER_CHRONODITOR.T_TITLE</span> <span ark-get-translation ark-translations="arbo.name"></span>
            </h3>
            <md-input-container flex="20">
                <ark-lang-selector ark-set-as-translation-lang="1"></ark-lang-selector>
            </md-input-container>
        </div>
    </md-toolbar>

    <div layout="row" ng-hide="chooseemprise">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="mdsidenav_opened">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools" translate>CHRONODITOR.SIDENAV.T_TITLE</h1>
            </md-toolbar>
            <md-content layout="column">
                <md-input-container flex>
                    <label translate>CHRONODITOR.INPUT_NAME.T_TITLE</label>
                    <input ng-model="arbo.name_cur" maxlength="100" ng-change="check_all()" ark-translate ark-translate-bind-lang="1" ark-translations="arbo.name"></input>
                </md-input-container>
                <md-input-container flex>
                    <label translate>CHRONODITOR.INPUT_DESCRIPTION.T_TITLE</label>
                    <textarea ng-model="arbo.description_cur" ark-translate ark-translate-bind-lang="1" ark-translations="arbo.description"></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label translate>CHRONODITOR.INPUT_AUTHOR.T_TITLE</label>
                    <md-autocomplete md-selected-item="arbo.author" md-search-text="arbo.author_searchText" md-items="item in querySearchUsers(arbo.author_searchText)" md-item-text="item.firstname + ' ' + item.lastname">
                      <span md-highlight-text="arbo.author_searchText">{{item.firstname}} {{item.lastname}}</span>
                    </md-autocomplete>
                </md-input-container>
                <md-input-container flex>
                    <label translate>CHRONODITOR.INPUT_CREDITS.T_TITLE</label>
                    <input ng-model="arbo.credits"></input>
                </md-input-container>
                
                <md-input-container flex>
                    <label translate>CHRONODITOR.INPUT_GEOGRAPHICAL_COVERING.T_TITLE</label>
                    <textarea ng-model="arbo.geographical_covering_cur" ark-translate ark-translate-bind-lang="1" ark-translations="arbo.geographical_covering"></textarea>
                </md-input-container>

                <md-input-container flex>
                    <label translate>CHRONODITOR.INPUT_EDITOR.T_TITLE</label>
                    <input ng-model="arbo.editor"></input>
                </md-input-container>

                <md-input-container flex>
                    <label translate>CHRONODITOR.INPUT_EDITOR_URI.T_TITLE</label>
                    <input ng-model="arbo.editor_uri"></input>
                </md-input-container>

                <md-input-container>
                    <md-switch ng-model="arbo.opened"><span translate>CHRONODITOR.SWITCH_OPENED.T_TITLE</span></md-switch>
                    <div><span translate>CHRONODITOR.SWITCH_OPENED.T_INFO</span></div>
                </md-input-container>

                <md-input-container flex>
                    <label translate>CHRONODITOR.URI.T_TITLE</label>
                    <input ng-model="arbo.deposit_uri"></input>
                </md-input-container>

                <div flex>
                    <label translate>CHRONODITOR.INFO_MEMBERS.T_TITLE</label>
                    <div>
                        <span ng-repeat="user in arbo.users_in_group">{{$first ? '' : ', '}}{{user.firstname}} {{user.lastname}}</span>
                    </div>
                </div>

                <md-input-container>
                    <md-switch ng-model="arbo.active" ng-disabled="!publishable"><span translate>CHRONODITOR.SWITCH_PUBLISHED.T_TITLE</span></md-switch>
                    <div style="background-color: #eee">
                        <div><span translate>CHRONODITOR.INFO_PUBLISHABLE.T_TITLE</span> : <span translate>{{publishable ? 'CHRONODITOR.INFO_PUBLISHABLE.T_YES' : 'CHRONODITOR.INFO_PUBLISHABLE.T_NO'}}</span></div>
                        <div><span translate>CHRONODITOR.INFO_DATEERRORS.T_TITLE</span> : <span>{{errstatus.errcount}}</span></div>
                        <div ng-repeat="(isocode, count) in errstatus.tradscount">
                            <img style="vertical-align: middle" src="/img/blank.gif" class="flag flag-{{isocode}}" alt="{{isocode}}" /> {{count}} / {{errstatus.elemcount}}
                        </div>
                    </div>
                </md-input-container>

                <md-toolbar class="md-theme-indigo">
                    <md-button class="md-raised" aria-label="Download CSV" ng-click="download_csv()"><span translate>CHRONODITOR.BUTTON_DOWNLOADCSV.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Import CSVs zip" ngf-select ng-model="file" ngf-multiple="false" ngf-accept="'application/zip, application/x-zip-compressed'"><span translate>CHRONODITOR.BUTTON_IMPORTCSV.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Save" ng-click="save()"><span translate>CHRONODITOR.BUTTON_SAVE.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Emprise" ng-click="showemprise()"><span translate>CHRONODITOR.BUTTON_AREA.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Retour liste" ng-click="gotolist()"><span translate>CHRONODITOR.BUTTON_GOTOLIST.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Cancel" ng-click="load()" ark-confirm="CHRONODITOR.BUTTON_CANCEL.T_CONFIRM" ark-confirm-ok="CHRONODITOR.BUTTON_CANCEL.T_OK"><span translate>CHRONODITOR.BUTTON_CANCEL.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Supprimer" ng-click="delete_chrono()" ark-confirm="CHRONODITOR.BUTTON_DELETE.T_CONFIRM" ark-confirm-ok="CHRONODITOR.BUTTON_DELETE.T_OK"><span translate>CHRONODITOR.BUTTON_DELETE.T_TITLE</span></md-button>
                </md-toolbar>

            </md-content>
        </md-sidenav>

        <md-content>

            <div ng-show="false">arbo:
                {{arbo}}</div>

            <table class="arbo-content arbo-content-n1">
                <tr ng-repeat="(idx1, n1) in arbo.content">
                    <td class="arbo-title" style="background-color: #{{n1.color}}">
                        <md-input-container class='title'>
                            <label translate>CHRONODITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                            <input name="" ng-model="n1.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n1.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                        </md-input-container>
                        <md-input-container class='date-begin'>
                            <label translate>CHRONODITOR.INPUT_ELEM_BEGIN.T_TITLE</label>
                            <input name="" ark-year ng-model="n1.start_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n1.start_date_err ? 'date_err' : ''"/>
                        </md-input-container>
                        <md-input-container class='date-end'>
                            <label translate>CHRONODITOR.INPUT_ELEM_END.T_TITLE</label>
                            <input name="" ark-year ng-model="n1.end_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n1.end_date_err ? 'date_err' : ''"/>
                        </md-input-container>
                        <div layout="column" class="arbo-buttons">
                            <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n1, arbo, idx1, idx1, 1)">
                                <md-icon>add</md-icon>
                            </md-button>
                            <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n1, arbo, idx1, idx1, 1)">
                                <md-icon>remove</md-icon>
                            </md-button>
                        </div>
                        <!--
                        <md-button flex class="md-mini button-add-element" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n1, arbo, idx1, idx1, 1)">
                            <md-icon>add</md-icon>
                        </md-button>
                        -->
                    </td>
                    <td class="arbo-content">

                        <table class="arbo-content arbo-content-n2">
                            <tr ng-repeat="(idx2, n2) in n1.content">
                                <td class="arbo-title" style="background-color: #{{n2.color}}">
                                    <md-input-container class='title'>
                                        <label translate>CHRONODITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                                        <input name="" ng-model="n2.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n2.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                                    </md-input-container>
                                    <md-input-container class='date-begin'>
                                        <label translate>CHRONODITOR.INPUT_ELEM_BEGIN.T_TITLE</label>
                                        <input name="" ark-year ng-model="n2.start_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n2.start_date_err ? 'date_err' : ''"/>
                                    </md-input-container>
                                    <md-input-container class='date-end'>
                                        <label translate>CHRONODITOR.INPUT_ELEM_END.T_TITLE</label>
                                        <input name="" ark-year ng-model="n2.end_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n2.end_date_err ? 'date_err' : ''"/>
                                    </md-input-container>
                                    <div layout="column" class="arbo-buttons">
                                        <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n2, n1, idx1, idx2, 2)">
                                            <md-icon>add</md-icon>
                                        </md-button>
                                        <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n2, n1, idx1, idx2, 2)">
                                            <md-icon>remove</md-icon>
                                        </md-button>
                                    </div>
                                </td>
                                <td class="arbo-content">

                                    <table class="arbo-content arbo-content-n3">
                                        <tr ng-repeat="(idx3, n3) in n2.content">
                                            <td class="arbo-title" style="background-color: #{{n3.color}}">
                                                <md-input-container class='title'>
                                                    <label translate>CHRONODITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                                                    <input name="" ng-model="n3.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n3.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                                                </md-input-container>
                                                <md-input-container class='date-begin'>
                                                    <label translate>CHRONODITOR.INPUT_ELEM_BEGIN.T_TITLE</label>
                                                    <input name="" ark-year ng-model="n3.start_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n3.start_date_err ? 'date_err' : ''"/>
                                                </md-input-container>
                                                <md-input-container class='date-end'>
                                                    <label translate>CHRONODITOR.INPUT_ELEM_END.T_TITLE</label>
                                                    <input name="" ark-year ng-model="n3.end_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n3.end_date_err ? 'date_err' : ''"/>
                                                </md-input-container>
                                                <div layout="column" class="arbo-buttons">
                                                    <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n3, n2, idx1, idx3, 3)">
                                                        <md-icon>add</md-icon>
                                                    </md-button>
                                                    <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n3, n2, idx1, idx3, 3)">
                                                        <md-icon>remove</md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                            <td class="arbo-content">

                                                <table class="arbo-content arbo-content-n4">
                                                    <tr ng-repeat="(idx4, n4) in n3.content">
                                                        <td class="arbo-title" style="background-color: #{{n4.color}}">
                                                            <md-input-container class='title'>
                                                                <label translate>CHRONODITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                                                                <input name="" ng-model="n4.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n4.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                                                            </md-input-container>
                                                            <md-input-container class='date-begin'>
                                                                <label translate>CHRONODITOR.INPUT_ELEM_BEGIN.T_TITLE</label>
                                                                <input ark-year name="" ng-model="n4.start_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n4.start_date_err ? 'date_err' : ''"/>
                                                            </md-input-container>
                                                            <md-input-container class='date-end'>
                                                                <label translate>CHRONODITOR.INPUT_ELEM_END.T_TITLE</label>
                                                                <input ark-year name="" ng-model="n4.end_date" placeholder="" required maxlength="10" minlength="1" ng-change="check_all()" ng-class="n4.end_date_err ? 'date_err' : ''"/>
                                                            </md-input-container>
                                                            <div layout="column" class="arbo-buttons">
                                                                <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n4, n3, idx1, idx4, 4)">
                                                                    <md-icon>remove</md-icon>
                                                                </md-button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(arbo, null, arbo.content.length, 0, 0)">
                <md-icon>add</md-icon>
            </md-button>

        </md-content>
    </div>

    <div id="chrono-emprise" ng-show="chooseemprise" ng-controller="ChronoEditorMapCtrl" style="position: relative; width: 100%; height: 100%">
        <leaflet controls="controls" defaults="defaults" layers="layers" flex height="{{mapHeight}}" lf-center="center" width="100%"></leaflet>
        <md-button style="position: absolute; left: 5px; top: 75px;" class="md-raised" ng-click="close()"><span translate>CHRONODITOR.BUTTON_CLOSEMAP.T_TITLE</span></md-button>
    </div>
</div>
