<form name="mapEditorForm" ng-submit="submit(this.mapEditorForm)" novalidate>
  <div layout>
    <md-content flex="50" layout-padding>
      <!-- Select WMS or Shapefile -->
      <ark-form-block>
        <md-input-container>
          <md-select name="type" ng-model="type" style="min-width:250px" placeholder="{{'MAPEDITOR.SELECT_SHP_OR_WMS.T_LABEL' | translate}}" md-on-close="infos.url='';reset(type)">
            <md-option value="shp">
              <span translate>MAPEDITOR.SELECT_SHP_WMS_WMTS.T_OPTION_SHP</span>
            </md-option>
            <md-option value="wms">
              <span translate>MAPEDITOR.SELECT_SHP_WMS_WMTS.T_OPTION_WMS</span>
            </md-option>
            <md-option value="wmts">
              <span translate>MAPEDITOR.SELECT_SHP_WMS_WMTS.T_OPTION_WMTS</span>
            </md-option>
          </md-select>
          <ark-help translate ng-show="!type">MAPEDITOR.SELECT_SHP_WMS_WMTS.T_OPTION_NONE_HELP</ark-help>
          <ark-help translate ng-show="type == 'shp'">MAPEDITOR.SELECT_SHP_WMS_WMTS.T_OPTION_SHP_HELP</ark-help>
          <ark-help translate ng-show="type == 'wms'">MAPEDITOR.SELECT_SHP_WMS_WMTS.T_OPTION_WMS_HELP</ark-help>
          <ark-help translate ng-show="type == 'wmts'">MAPEDITOR.SELECT_SHP_WMS_WMTS.T_OPTION_WMTS_HELP</ark-help>
        </md-input-container>
      </ark-form-block>
      <!-- SHP FILE -->
      <ark-form-block ng-hide="type != 'shp' || infos.id" style="margin-top: 30px">
        <md-button class="md-raised" ngf-select="processSHP(file)" ng-model="file" name="file" ngf-pattern="'.zip'" accept=".zip" ngf-max-size="100MB">
          <span translate>MAPEDITOR.BUTTON_SHP_FILE.T_LABEL</span>
        </md-button>
        <md-progress-linear md-mode="determinate" value="{{shpProcessingProgress}}" md-buffer-value="100" ng-hide="!file || shpProcessingProgress == 100"></md-progress-linear>
      </ark-form-block>
      <!-- <ark-form-block ng-hide="!type">
          <span>Proxy</span>
          <md-checkbox ng-model="infos.use_proxy" name="use_proxy" aria-label="Use proxy"></md-checkbox>
      </ark-form-block> -->
      <!-- WMS URL -->
      <ark-form-block layout="row" ng-hide="!type || type == 'shp'" style="margin-top: 30px">
        <md-input-container style="width:85%">
          <label>
            <span translate>MAPEDITOR.FIELD_WMS_URL.T_LABEL</span>
          </label>
          <input type="text" ng-model="infos.url" flex>
          <md-button type="button" class="md-icon-button" ng-click="getLayers()">
            <md-icon>search</md-icon>
          </md-button>
        </md-input-container>
      </ark-form-block>
      <ark-form-block style="margin:-50px 5px 0 5px">
        <div class="ark-abstract">{{attribution}}</div>
        <div style="color: red;font-weight: bold" ng-hide="!errorMsg">
          {{errorMsg}}
        </div>
      </ark-form-block>
      <!-- Layers -->
      <ark-form-block style="padding: 0">
        <md-input-container ng-hide="showWMInputs != true">
          <md-menu>
            <md-button class="md-primary md-raised" ng-click="$mdOpenMenu()">{{'MAPEDITOR.FIELD_SELECT_LAYER.T_LABEL' | translate}}</md-button>
            <md-menu-content class="ark-md-menu-content-nested">
              <md-menu-item class="ark-nested-menu-item" ng-repeat="theme in remoteServerThemes" ng-include="'themeTree'"></md-menu-item>
            <md-menu-content>
          </md-menu>
        </md-menu>
        </md-input-container>
      </ark-form-block>
      <ark-form-block ng-hide="!type || type == 'shp'" style="margin-top: -10px">
        <!-- Identifier -->
        <md-input-container ng-show="showWMInputs == true || infos.id" style="margin: 15px 0 -10px 0;width:85%" ng-hide="remoteServerThemes.layers.length || hideFields">
          <label>
            <span translate>MAPEDITOR.FIELD_IDENTIFIER.T_LABEL</span>
          </label>
          <input type="text" ng-model="infos.identifier" flex>
        </md-input-container>
      </ark-form-block>
      <!-- Set zoom -->
      <ark-form-block ng-hide="hideFields || type == 'shp'" style="margin-top: 30px;">
        <div layout="row">
          <div>
            <md-input-container style="width:150px">
              <label>
                            <span translate>MAPEDITOR.FIELD_MIN_SCALE.T_LABEL</span>
                        </label>
              <input type="text" ng-model="infos.min_scale" disabled>
            </md-input-container>
            <md-button type="button" class="md-icon-button" ng-click="setScale('min')">
              <md-icon>gps_fixed</md-icon>
            </md-button>
          </div>
          <div style="margin-left: 40px">
            <md-input-container style="width:150px">
              <label>
                            <span translate>MAPEDITOR.FIELD_MAX_SCALE.T_LABEL</span>
                        </label>
              <input type="text" ng-model="infos.max_scale" disabled>
            </md-input-container>
            <md-button type="button" class="md-icon-button" ng-click="setScale('max')">
              <md-icon>gps_fixed</md-icon>
            </md-button>
          </div>
        </div>
      </ark-form-block>
      <!-- SHP creation date -->
      <div ng-hide="type != 'shp' || hideFields">
        <md-datepicker name="declared_creation_date" ng-model="infos.declared_creation_date" md-placeholder="* {{ 'MAPEDITOR.FIELD_CREATION_DATE.T_LABEL' | translate}}" flex></md-datepicker>
        <ark-help translate>MAPEDITOR.FIELD_CREATION_DATE.T_HELP</ark-help>
      </div>
      <!-- WMS usage limit date -->
      <div ng-hide="hideFields || type.indexOf('wm') == -1">
        <md-datepicker name="max_usage_date" ng-model="infos.max_usage_date" md-placeholder="* {{ 'MAPEDITOR.FIELD_MAX_USAGE_DATE.T_LABEL' | translate}}" flex></md-datepicker>
        <ark-help translate>MAPEDITOR.FIELD_MAX_USAGE_DATE.T_HELP</ark-help>
      </div>
    </md-content>
    <md-content flex="50" layout-padding>
      <leaflet controls="controls" defaults="defaults" layers="layers" flex height="400px" lf-center="center" width="100%" geojson="geojson"></leaflet>
    </md-content>
  </div>

  <md-content ng-hide="hideFields" layout-padding>
    <!-- Start/End dates -->
    <ark-form-block>
      <md-input-container flex="50">
        <label translate>MAPEDITOR.FIELD_START_DATE.T_LABEL</label>
        <input name="end_date" ng-model="infos.start_date" ark-year required="true">
      </md-input-container>
      <md-input-container flex="50">
        <label translate>MAPEDITOR.FIELD_END_DATE.T_LABEL</label>
        <input name="start_date" ng-model="infos.end_date" ark-year required="true" />
      </md-input-container>
    </ark-form-block>
    <!-- Authors -->
    <ark-form-block ng-hide="type != 'shp'">
      <md-chips ng-model="infos.authors" md-autocomplete-snap md-require-match="true" md-allow-repeats="false" md-on-remove="removeAuthor($chip)">
        <md-autocomplete md-search-text="userName" md-items="user in searchUser(userName)" md-item-text="user.fullname" placeholder="* {{ 'MAPEDITOR.FIELD_AUTHOR.T_LABEL' | translate}}">
          <span md-highlight-text="userName">{{user.fullname}}</span>
        </md-autocomplete>
        <md-chip-template>
          <strong>{{$chip.fullname}}</strong>
        </md-chip-template>
      </md-chips>
      <ark-help translate>MAPEDITOR.FIELD_AUTHOR.T_HELP</ark-help>
    </ark-form-block>
    <!-- Attribution -->
    <ark-form-block>
      <md-input-container style="width: 100%">
        <label translate>MAPEDITOR.FIELD_ATTRIBUTION.T_LABEL</label>
        <input name="attribution" ng-model="infos.attribution" required="true">
      </md-input-container>
      <ark-help translate>MAPEDITOR.FIELD_ATTRIBUTION.T_HELP</ark-help>
    </ark-form-block>
    <!-- Citation -->
    <ark-form-block>
      <md-input-container style="width: 100%">
        <label translate>MAPEDITOR.FIELD_CITATION.T_LABEL</label>
        <textarea name="citation" ng-model="infos.citation" required="true"></textarea>
      </md-input-container>
      <ark-help translate>MAPEDITOR.FIELD_CITATION.T_HELP</ark-help>
    </ark-form-block>
    <!-- Editor -->
    <ark-form-block ng-hide="type != 'shp'">
      <md-input-container style="width: 100%">
        <label translate>MAPEDITOR.FIELD_EDITOR.T_LABEL</label>
        <textarea name="editor" ng-model="infos.editor"></textarea>
      </md-input-container>
      <ark-help translate>MAPEDITOR.FIELD_EDITOR.T_HELP</ark-help>
    </ark-form-block>
    <!-- Editor uri -->
    <ark-form-block ng-hide="type != 'shp'">
      <md-input-container style="width: 100%">
        <label translate>MAPEDITOR.FIELD_EDITOR_URI.T_LABEL</label>
        <textarea name="editor_uri" ng-model="infos.editor_uri"></textarea>
      </md-input-container>
      <ark-help translate>MAPEDITOR.FIELD_EDITOR_URI.T_HELP</ark-help>
    </ark-form-block>
    <!-- Deposit URI -->
    <ark-form-block ng-hide="type != 'shp'">
      <md-input-container style="width: 100%">
        <label translate>MAPEDITOR.FIELD_DEPOSIT_URI.T_LABEL</label>
        <textarea name="deposit_uri" ng-model="infos.deposit_uri"></textarea>
      </md-input-container>
      <ark-help translate>MAPEDITOR.FIELD_DEPOSIT_URI.T_HELP</ark-help>
    </ark-form-block>
    <!-- Opened -->
    <ark-form-block ng-hide="type != 'shp'" style="padding-left: 30px">
      <md-switch aria-label="{{'MAPEDITOR.FIELD_OPENED.T_LABEL' | translate}}" ng-model="infos.opened">
        <span translate>MAPEDITOR.FIELD_OPENED.T_LABEL</span>
      </md-switch>
      <ark-help flex translate>MAPEDITOR.FIELD_OPENED.T_HELP</ark-help>
    </ark-form-block>
    <!-- License -->
    <ark-form-block layout="row">
      <div>
        <md-input-container>
          <md-select name="license_id" ng-model="infos.license_id" ng-init="loadLicenses()" placeholder="* {{'MAPEDITOR.FIELD_LICENSE.T_LABEL' | translate}}">
            <md-option ng-value="license.id" ng-repeat="license in licenses">{{license.name}}</md-option>
          </md-select>
        </md-input-container>
        <ark-help translate>MAPEDITOR.FIELD_LICENSE.T_HELP</ark-help>
      </div>
      <div>
        <md-input-container style="width: 400px">
          <label translate>MAPEDITOR.FIELD_LICENSE.T_LABEL</label>
          <input name="license" ng-model="infos.license">
        </md-input-container>
      </div>
    </ark-form-block>

    <!-- Description blocks -->
    <div layout="column" layout-gt-sm="row" class="description-blocks" flex>
      <div class="md-padding" flex="50">
        <ark-form-block layout="column">
          <md-input-container>
            <ark-lang-selector ark-set-as-translation-lang="1" ng-disabled="true"></ark-lang-selector>
          </md-input-container>
        </ark-form-block flex>
        <ark-form-block flex>
          <md-input-container style="width: 400px">
            <label translate>MAPEDITOR.FIELD_NAME_LANG1.T_LABEL</label>
            <input name="name" ng-model="name_lang1" ark-translations="infos.translations.name" ark-translate ark-translate-bind-lang="1" aria-label="-" required></input>
          </md-input-container>
        </ark-form-block>
        <ark-form-block flex>
          <md-input-container style="margin-top: 25px">
            <label translate>MAPEDITOR.FIELD_DESCRIPTION_LANG1.T_LABEL</label>
            <textarea name="description" ng-model="desc_lang1" ark-translations="infos.translations.description" ark-translate ark-translate-bind-lang="1" aria-label="-" required style="min-width: 500px; min-height:30px" flex></textarea>
          </md-input-container>
        </ark-form-block>
        <ark-form-block flex>
          <md-input-container style="margin-top: 25px">
            <label translate>MAPEDITOR.FIELD_GEOGRAPHICAL_COVERING_LANG1.T_LABEL</label>
            <textarea name="geographical_covering" ng-model="geographical_covering_lang1" ark-translations="infos.translations.geographical_covering" ark-translate ark-translate-bind-lang="1" aria-label="-" style="min-width: 500px; min-height:30px" flex></textarea>
          </md-input-container>
        </ark-form-block>
      </div>
      <div class="md-padding" flex-offset-gt-md="5" flex="50">
        <ark-form-block flex layout="column">
          <md-input-container>
            <ark-lang-selector ark-set-as-translation-lang="2" ng-disabled="lang2SelectDisabled"></ark-lang-selector>
          </md-input-container>
        </ark-form-block>
        <ark-form-block flex>
          <md-input-container style="width: 400px">
            <label translate>MAPEDITOR.FIELD_NAME_LANG2.T_LABEL</label>
            <input name="name2" ng-model="name_lang2" ark-translations="infos.translations.name" ark-translate ark-translate-bind-lang="2" aria-label="-"></input>
            <div ng-messages="mapEditorForm.name2.$error">
              <div ng-message="english_required" translate>IMPORT.FIELD_ALL.T_ENGLISH_TRANSLATION_REQUIRED</div>
            </div>
          </md-input-container>
        </ark-form-block>
        <ark-form-block flex>
          <md-input-container style="margin-top: 25px">
            <label translate>MAPEDITOR.FIELD_DESCRIPTION_LANG2.T_LABEL</label>
            <textarea name="description2" ng-model="desc_lang2" ark-translations="infos.translations.description" ark-translate ark-translate-bind-lang="2" aria-label="-" style="min-width: 500px; min-height:30px"></textarea>
            <div ng-messages="mapEditorForm.description2.$error">
              <div ng-message="english_required" translate>IMPORT.FIELD_ALL.T_ENGLISH_TRANSLATION_REQUIRED</div>
            </div>
          </md-input-container>
        </ark-form-block>
        <ark-form-block flex>
          <md-input-container style="margin-top: 25px">
            <label translate>MAPEDITOR.FIELD_GEOGRAPHICAL_COVERING_LANG2.T_LABEL</label>
            <textarea name="geographical_covering2" ng-model="geographical_covering_lang2" ark-translations="infos.translations.geographical_covering" ark-translate ark-translate-bind-lang="2" aria-label="-" style="min-width: 500px; min-height:30px"></textarea>
            <div ng-messages="mapEditorForm.geographical_covering2.$error">
              <div ng-message="english_required" translate>IMPORT.FIELD_ALL.T_ENGLISH_TRANSLATION_REQUIRED</div>
            </div>
          </md-input-container>
        </ark-form-block>
      </div>
    </div>
    <!-- Published -->
    <ark-form-block style="padding-left: 30px">
      <md-switch aria-label="{{'MAPEDITOR.FIELD_PUBLISHED.T_LABEL' | translate}}" ng-model="infos.published">
        <span translate>MAPEDITOR.FIELD_PUBLISHED.T_LABEL</span>
      </md-switch>
      <ark-help flex translate>MAPEDITOR.FIELD_PUBLISHED.T_HELP</ark-help>
    </ark-form-block>
  </md-content>

  <!-- Buttons -->
  <md-content layout layout-sm="column" layout-padding layout-align="center center" ng-hide="hideFields" style="margin-top: 10px">
    <md-button type="submit" class="md-primary md-raised" ng-disabled2="!mapEditorForm.$valid">
      <span translate>MAPEDITOR.INTERFACE_BUTTON.T_SUBMIT</span>
    </md-button>
    <md-button class="md-raised md-hue-1" ng-click="reset()" ng-hide="infos.id">
      <span translate>MAPEDITOR.INTERFACE_BUTTON.T_RESET</span>
    </md-button>
    <md-button class="md-raised md-hue-1" ng-click="delete()" ng-show="infos.id" ark-confirm="MAPEDITOR.BUTTON_DELETE.T_CONFIRM">
      <span translate>MAPEDITOR.INTERFACE_BUTTON.T_DELETE</span>
    </md-button>
  </md-content>
  <md-content>
    <md-progress-linear md-mode="determinate" value="{{uploadProgress}}" md-buffer-value="100" ng-hide="!uploadProgress || uploadProgress == 100"></md-progress-linear>
  </md-content>
</form>

<script type="text/ng-template" id="themeTree">
    <md-menu-item ng-repeat="layer in theme.layers"><md-button ng-click="selectLayer(layer)">{{layer.title}}</md-button></md-menu-item>
    <md-menu-item ng-if="theme.theme" style="background:red">
      <md-menu md-offset="330 0" class="ark-md-menu-nested">
        <md-button ng-mouseover="$mdOpenMenu()">
          <b>{{theme.title}}</b>
        </md-button>
        <md-menu-content class="ark-md-menu-content-nested" style="height: {{((theme.theme.length)*48)+((theme.layers.length-1)*48)}}px">
          <md-menu-item ng-if="theme.theme">
            <div ng-repeat="theme in theme.theme" ng-include="'themeTree'"></div>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-menu-item>
</script>
