<div class="step3" flex>
  <md-card class="animate-hide" ng-hide="userPreferences.hideIntro" flex>
    <md-card-content translate>
      <p translate>IMPORT_STEP4.INFOS.T_LINE1</p>
      <p translate>IMPORT_STEP4.INFOS.T_LINE2</p>
    </md-card-content>
  </md-card>
  <div class="layout-padding">
    <h1 class="md-display-1">
		<h1 class="md-display-1"><span translate>IMPORT_STEP4.FORM.T_TITLE</span> "{{database.name}}" <span translate>IMPORT_STEP1.TITLE.T_BY</span> {{user.firstname}} {{user.lastname}}</h1>
    <form name="moreInfosForm" class="md-padding" ng-submit="submit(this.moreInfosForm)">
      <md-content layout="column" layout-gt-sm="row">
        <!-- left block -->
        <div class="md-padding" flex="50">
          <ark-form-block>
            <md-input-container>
              <label translate>IMPORT_STEP4.FIELD_EDITOR.T_LABEL</label>
              <input name="publisher" ng-model="database.editor">
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_EDITOR.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <label translate>IMPORT_STEP4.FIELD_EDITOR_URL.T_LABEL</label>
              <input name="editor_url" type="url" ng-model="database.editor_url">
              <div ng-messages="moreInfosForm.editor_url.$error">
                <div ng-message="url" translate>IMPORT.FIELD_ALL.T_ERROR_NOT_VALID_URL</div>
              </div>
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_EDITOR_URL.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <label translate>IMPORT_STEP4.FIELD_CONTRIBUTOR.T_LABEL</label>
              <input name="contributor" ng-model="database.contributor">
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_CONTRIBUTOR.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <label></label>
              <label translate>IMPORT_STEP4.FIELD_RESOURCE_ID.T_LABEL</label>
              <input name="source_identifier" ng-model="database.source_identifier">
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_RESOURCE_ID.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <label translate>IMPORT_STEP4.FIELD_URL.T_LABEL</label>
              <input name="source_url" type="url" ng-model="database.source_url">
              <div ng-messages="moreInfosForm.source_url.$error">
                <div ng-message="url" translate>IMPORT.FIELD_ALL.T_ERROR_NOT_VALID_URL</div>
              </div>
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_URL.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-datepicker ng-model="database.source_declared_creation_date" md-placeholder="{{ 'IMPORT_STEP4.FIELD_DATE_IUR.T_LABEL' | translate }}"></md-datepicker>
            <ark-help translate>IMPORT_STEP4.FIELD_DATE_IUR.T_HELP</ark-help>
          </ark-form-block>
        </div>
        <!-- right block -->
        <div class="md-padding" flex-offset-gt-md="5" flex="50">
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="database.source_description" placeholder="{{ 'IMPORT_STEP4.FIELD_RESOURCE.T_LABEL' | translate }}
								" md-no-autogrow="true" style="height: 120px"></textarea>
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_RESOURCE.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="database.source_relation" placeholder="{{ 'IMPORT_STEP4.FIELD_RELATIONS.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 120px"></textarea>
            </md-input-container>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="database.context_description" placeholder="{{ 'IMPORT_STEP4.FIELD_CONTEXT_DESCRIPTION.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 120px"></textarea>
            </md-input-container>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="database.illustrations" placeholder="{{ 'IMPORT_STEP4.FIELD_ILLUSTRATIONS.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 120px"></textarea>
            </md-input-container>
          </ark-form-block>
        </div>
      </md-content>
            <!-- Lang selection -->
            <md-content layout="row" class="description-blocks">
                <div class="md-padding" flex>
                    <ark-form-block>
                        <md-input-container>
                          <ark-lang-selector ng-model="myTransLang1" ark-set-as-translation-lang="1" ng-disabled="true"></ark-lang-selector>
                        </md-input-container>
                    </ark-form-block>
                </div>
                <div class="md-padding" flex-offset-gt-md="5" flex>
                    <ark-form-block>
                        <md-input-container>
                          <ark-lang-selector ng-model="myTransLang2" ark-set-as-translation-lang="2" ng-disabled="lang2SelectDisabled" ark-flags="true"></ark-lang-selector>
                        </md-input-container>
                    </ark-form-block>
                </div>
            </md-content>
            <!-- Geographical Limit -->
            <md-content layout="row" class="description-blocks">
                <div class="md-padding" flex>
                    <ark-form-block>
                        <md-input-container style="margin-top: 25px">
                            <textarea name="geographicallimit1" ng-model="geo_lang1" ark-translations="database.geographical_limit" ark-translate ark-translate-bind-lang="1" aria-label="-" placeholder="{{ 'IMPORT_STEP4.FIELD_GEOGRAPHICAL_LIMIT_LANG1.T_LABEL' | translate}}"></textarea>
                        </md-input-container>
                    </ark-form-block>
                </div>
                <div class="md-padding" flex-offset-gt-md="5" flex>
                    <ark-form-block>
                        <md-input-container style="margin-top: 25px">
                            <textarea name="geographicallimit2" ng-model="geo_lang2" ark-translations="database.geographical_limit" ark-translate ark-translate-bind-lang="2" aria-label="-" placeholder="{{ 'IMPORT_STEP4.FIELD_GEOGRAPHICAL_LIMIT_LANG2.T_LABEL' | translate}}"></textarea>
                            <div ng-messages="moreInfosForm.geographicallimit2.$error">
                                <div ng-message="english_required" translate>IMPORT.FIELD_ALL.T_ENGLISH_TRANSLATION_REQUIRED</div>
                            </div>
                        </md-input-container>
                    </ark-form-block>
                </div>
            </md-content>
            <!-- Bibliography -->
            <md-content layout="row" class="description-blocks">
                <div class="md-padding" flex>
                    <ark-form-block>
                        <md-input-container style="margin-top: 25px">
                            <textarea name="bibliography1" ng-model="biblio_lang1" ark-translations="database.bibliography" ark-translate ark-translate-bind-lang="1" aria-label="-" placeholder="{{ 'IMPORT_STEP4.BIBLIOGRAPHY_LANG1.T_LABEL' | translate}}" ></textarea>
                        </md-input-container>
                    </ark-form-block>
                </div>
                <div class="md-padding" flex-offset-gt-md="5" flex>
                    <ark-form-block>
                        <md-input-container style="margin-top: 25px">
                            <textarea name="bibliography2" ng-model="biblio_lang2" ark-translations="database.bibliography" ark-translate ark-translate-bind-lang="2" aria-label="-" placeholder="{{ 'IMPORT_STEP4.BIBLIOGRAPHY_LANG2.T_LABEL' | translate}}"   ></textarea>
                            <div ng-messages="moreInfosForm.bibliography2.$error">
                                <div ng-message="english_required" translate>IMPORT.FIELD_ALL.T_ENGLISH_TRANSLATION_REQUIRED</div>
                            </div>
                        </md-input-container>
                    </ark-form-block>
                </div>
            </md-content>
            <!-- Re_use -->
            <md-content layout="row" class="description-blocks">
              <div class="md-padding" flex>
                  <ark-form-block>
                      <md-input-container style="margin-top: 25px">
                          <textarea name="re_use1" ng-model="re_use_lang1" ark-translations="database.re_use" ark-translate ark-translate-bind-lang="1" aria-label="-" placeholder="{{ 'IMPORT_STEP4.RE_USE_LANG1.T_LABEL' | translate}}" ></textarea>
                      </md-input-container>
                  </ark-form-block>
              </div>
              <div class="md-padding" flex-offset-gt-md="5" flex>
                  <ark-form-block>
                      <md-input-container style="margin-top: 25px">
                          <textarea name="re_use2" ng-model="re_use_lang2" ark-translations="database.re_use" ark-translate ark-translate-bind-lang="2" aria-label="-" placeholder="{{ 'IMPORT_STEP4.RE_USE_LANG2.T_LABEL' | translate}}"   ></textarea>
                          <div ng-messages="moreInfosForm.re_use2.$error">
                              <div ng-message="english_required" translate>IMPORT.FIELD_ALL.T_ENGLISH_TRANSLATION_REQUIRED</div>
                          </div>
                      </md-input-container>
                  </ark-form-block>
              </div>
          </md-content>
    <!-- Actions -->
      <md-content layout layout-sm="column" layout-padding layout-align="center center">
        <md-button type="submit" class="md-primary md-raised md-hue-2" ng-disabled="!moreInfosForm.$valid"><span translate>IMPORT_STEP4.FORM.T_BUTTON_SUBMIT</span></md-button>
        <md-button class="md-raised" ui-sref="arkeogis.import.step3"><span translate>IMPORT_STEP4.FORM.T_BUTTON_BACK</span></md-button>
        <md-button class="md-raised" ui-sref="arkeogis.database({database_id: database.id})"><span translate>IMPORT.BUTTON.T_CANCEL_AND_GO_TO_SHEET</span></md-button>
        <md-content></form>
      </div>
