<div layout layout-md="column" layout-sm="column">
  <md-card class="animate-hide" ng-hide="userPreferences.hideIntro" flex>
    <md-card-content translate></md-card-content>
    <p translate>IMPORT_STEP1.INFOS.T_LINE1</p>
    <p translate>IMPORT_STEP1.INFOS.T_LINE2</p>
    <p translate>IMPORT_STEP1.INFOS.T_LINE3</p>
    <div class="md-actions" layout layout-align="end center">
      <md-button ng-click="userPreferences.hideIntro = true">Hide</md-button>
    </div>
  </md-card>
  <md-card flex>
    <md-card-content>
      <div ng-hide="userPreferences.conditionsAccepted">
        <p translate>IMPORT_STEP1.CONDITIONS.T_LINE1</p>
        <p translate>IMPORT_STEP1.CONDITIONS.T_LINE2</p>
      </div>
      <md-checkbox ng-model="userPreferences.conditionsAccepted" aria-label="."></md-checkbox>
      <md-checkbox ng-model="userPreferences.saveConditionsAccepted" aria-label="." ng-hide="!userPreferences.conditionsAccepted" translate>IMPORT_STEP1.CONDITIONS.T_BUTTON_SAVE_CHOICES</md-checkbox>
    </md-card-content>
  </md-card>
</div>
<div class="animate-hide" ng-hide="!userPreferences.conditionsAccepted">
  <md-content class="main-md-content md-padding">
    <h1 class="md-display-1"><span translate>IMPORT_STEP1.TITLE.T_IMPORT_YOUR_DB</span> <span translate>IMPORT_STEP1.TITLE.T_BY</span> {{user.firstname}} {{user.lastname}}</h1>
    <form name="importForm" class="md-padding" layout="column" novalidate>
      <!-- Database name -->
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_DATABASE_NAME.T_LABEL</label>
          <input name="databaseName" md-minlength="3" md-maxlength="75" ng-model="database.name" required=""></input>
          <div ng-messages="importForm.databaseName.$error">
            <div ng-message="md-maxlength" translate>IMPORT_STEP1.FIELD_DATABASE_NAME.T_ERROR_MAX_LEN</div>
            <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
          </div>
        </md-input-container>
      </ark-form-block>
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_LANG.T_LABEL</label>
          <ark-lang-selector ng-model="database.default_language"></ark-lang-selector>
        </md-input-container>
        <ark-help flex translate>IMPORT_STEP1.FIELD_LANG.T_HELP</ark-help>
      </ark-form-block>

      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_CHRONOLOGY.T_LABEL</label>
          <md-select name="root_chronology_id" ng-model="database.root_chronology_id">
            <md-option ng-value="0" translate>IMPORT_STEP1.FIELD_CHRONOLOGY.T_NONE</md-option>
            <md-option ng-value="-1" disabled>-</md-option>
            <md-option ng-repeat="chronology in chronologies" ng-value="chronology.id">{{chronology.name}}</md-option>
          </md-select>
          <div ng-messages="importForm.root_chronology_id.$error" role="alert">
            <div ng-if="importForm.root_chronology_id.$error.server">{{ importForm.root_chronology_id.$error.server | translate }}</div>
          </div>
        </md-input-container>
      </ark-form-block>

      <!-- Geographical extent main container -->
      <ark-form-block>
        <!-- <div layout="column" layout-gt-xs="row"> -->
          <!-- Geographical extent -->
          <md-input-container>
            <md-select name="geographical_extent" ng-model="database.geographical_extent" ng-change="database.countries = [];database.continents = []; check()" placeholder="{{'IMPORT_STEP1.FIELD_GEO_EXTENT.T_LABEL' | translate}}" required >
              <md-option value="{{geoex.id}}" ng-repeat="geoex in definitions.geographicalExtents" translate>{{geoex.tr}}</md-option>
            </md-select>
          </md-input-container>
          <!-- Country -->
          <div ng-hide="database.geographical_extent != 'country'" flex>
            <md-chips name="extent_country" ng-model="database.countries" md-autocomplete-snap md-require-match="true" md-allow-repeats="false" md-on-add="check()" md-on-remove="check()">
              <md-autocomplete md-search-text="searchText" md-items="item in countrySearch(searchText)" md-item-text="item.name" placeholder="* {{'IMPORT_STEP1.FIELD_GEO_COUNTRY.T_PLACEHOLDER' | translate}}">
                <span md-highlight-text="searchText">{{item.name}}</span>
              </md-autocomplete>
              <md-chip-template>
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.geonameid}})</em>
              </md-chip-template>
            </md-chips>
            <div ng-messages="importForm.extent_country.$error">
                <div ng-message="required" translate class="error-red">IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
            </div>
          </div>
          <!-- Continent -->
          <div ng-hide="database.geographical_extent != 'continent'" flex>
            <md-chips name="extent_continent" ng-model="database.continents" md-autocomplete-snap md-require-match="true" md-allow-repeats="false" md-on-add="check()"md-on-remove="check()" md-on-remove="check()">
              <md-autocomplete md-search-text="searchText" md-items="item in continentSearch(searchText)" md-item-text="item.name" placeholder="* {{'IMPORT_STEP1.FIELD_GEO_CONTINENT.T_PLACEHOLDER' | translate}}">
                <span md-highlight-text="searchText">{{item.name}}</span>
              </md-autocomplete>
              <md-chip-template>
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.geonameid}})</em>
              </md-chip-template>
            </md-chips>
            <div ng-messages="importForm.extent_continent.$error">
                <div ng-message="required" translate class="error-red">IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
            </div>
          </div>
      </ark-form-block>
      <!-- Use Geonames -->
      <ark-form-block>
        <md-switch aria-label="Use geonames" ng-model="importChoices.UseGeonames" style="margin: 15px 0 25px 0"><span translate>IMPORT_STEP1.FIELD_GEONAMES.T_LABEL</span></md-switch>
        <ark-help flex translate>IMPORT_STEP1.FIELD_GEONAMES.T_HELP</ark-help>
      </ark-form-block>
      <!--
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_SEPARATOR.T_LABEL</label>
          <input name="separator" md-maxlength="1" ng-model="importChoices.Separator" required></input>
          <div ng-messages="importForm.separator.$error">
            <div ng-message="maxlength" translate>IMPORT_STEP1.FIELD_SEPARATOR.T_ERROR_LEN</div>
            <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
          </div>
        </md-input-container>
        <ark-help ng-hide="importForm.separator.$error.required" flex translate>IMPORT_STEP1.FIELD_SEPARATOR.T_HELP</ark-help>
      </ark-form-block>
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_ECHAP_CHARACTER.T_LABEL</label>
          <input name="echap_character" md-maxlength="1" ng-model="importChoices.EchapCharacter" required></input>
          <div ng-messages="importForm.echap_character.$error">
            <div ng-message="maxlength" translate>IMPORT_STEP1.FIELD_ECHAP_CHARACTER.T_ERROR_LEN</div>
            <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
          </div>
        </md-input-container>
      </ark-form-block>
     -->
      <!-- Upload -->
      <div layout layout-sm="column">
        <md-button class="md-primary md-raised md-hue-2" ng-disabled="!importForm.$valid" ngf-select="uploadCSV()" ng-model="file" name="file" ngf-pattern="'.csv,.txt'" accept=".csv,.txt" ngf-max-size="100MB"><span translate>IMPORT_STEP1.FORM.T_SUBMIT</span></md-button>
        <md-button class="md-primary md-raised" ng-click="modifyDatabase()" ng-show="database.id && database.editMode"><span translate>IMPORT_STEP1.FORM.T_UPDATE</span></md-button>
        <md-button class="md-raised md-warn" ng-click="reset()" ng-hide="database.id && database.editMode"><span translate>IMPORT_STEP1.FORM.T_RESET</span></md-button>
        <md-button class="md-raised" ui-sref="arkeogis.database({database_id: database.id})" ng-show="database.id && database.editMode"><span translate>IMPORT.BUTTON.T_CANCEL_AND_GO_TO_SHEET</span></md-button>
      </div>
      <md-progress-linear md-mode="determinate" value="{{uploadProgress}}" md-buffer-value="100" ng-hide="!file || !importForm.$valid"></md-progress-linear>
      <ark-help hide-sm translate>IMPORT_STEP1.FORM.T_HELP</ark-help>
    </form>
  </md-content>
</div>
