<div class="database-sheet">
    <md-content layout-padding>
        <h1>{{database.name}}</h1>
    </md-content>
    <md-content layout-padding layout style="margin-top: -20px; padding-top: 0; padding-bottom: 0">
        <section flex="50" style="padding-bottom: 0">
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_IMPORT_INITIATOR</span>:</div>
                <div>{{database.owner_name}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_AUTHOR_AND_CO_AUTHORS</span>:</div>
                <div>{{database.author_and_co_authors}}</div>
                <div>
                    <span ng-repeat="a in database.authors">
                        <span>{{a.firstname}}&nbsp;{{a.lastname}}</span>
                        <span ng-if="!$last">
                            -<span> </span>
                        </span>
                    </span>
                </div>
            </div>
            <div layout="row" ng-show="database.editor != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_EDITOR</span>:</div>
                <div>{{database.editor | date:'short'}}</div>
            </div>
            <div layout="row" ng-show="database.editor_url != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_EDITOR_URL</span>:</div>
                    <div><a href="{{database.editor_url}}" title="{{database.editor_url}}" target="_blank">{{database.editor_url}}</a></div>
            </div>
            <div layout="row" ng-show="database.contributor!= ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_CONTRIBUTOR</span>:</div>
                <div>{{database.contributor | date:'short'}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_SUBJECT_AND_KEYWORDS</span>:</div>
                <div ark-get-translation ark-force-lang="database.default_language" ark-translations="database.subject"></div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_CHRONOLOGY</span>:</div>
                <div>{{database.chronology ? database.chronology.nameTranslated : '-'}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_STARTING_PERIOD</span>:</div>
                <div>{{database.start_date | arkYear}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_ENDING_PERIOD</span>:</div>
                <div>{{database.end_date | arkYear}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_NUMBER_OF_LINES</span>:</div>
                <div>{{database.imports[0].number_of_lines}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_NUMBER_OF_SITES</span>:</div>
                <div>{{database.imports[0].number_of_sites}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_TYPE</span>:</div>
                <div>{{databaseDefinitions[database.type]}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_SCALE</span>:</div>
                <div>{{databaseDefinitions[database.scale_resolution]}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_PUBLICATION_STATUS</span>:</div>
                <div ng-show="database.published">
                    <span style="color: #9ad49a" translate>DATABASE.INFORMATIONS.T_PUBLISHED</span>
                </div>
                <div ng-hide="database.published">
                    <span style="color: #FB7378" translate>DATABASE.INFORMATIONS.T_UNPUBLISHED</span>
                </div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_PUBLIC</span>:</div>
                <div ng-show="database.public">
                    <span style="color: #9ad49a" translate>DATABASE.INFORMATIONS.T_ISPUBLIC</span>
                </div>
                <div ng-hide="database.public">
                    <span style="color: #FB7378" translate>DATABASE.INFORMATIONS.T_ISNOTPUBLIC</span>
                </div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_DATE</span>:</div>
                <div>{{database.declared_creation_date | date:'short'}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_IMPORTATION_DATE</span>:</div>
                <div>{{database.created_at | date:'short'}}</div>
            </div>
            <div layout="row" ng-show="database.created_at != database.updated_at">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_MODIFICATION_DATE</span>:</div>
                <div>{{database.updated_at | date:'short'}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_STATUS</span>:
                </div>
                <div>{{databaseDefinitions[database.state]}}</div>
            </div>
            </section>
        </section>
        <section flex="50" style="padding-bottom: 0">
            <leaflet lf-center="center" geojson="geojson" height="380px"></leaflet>
        </section>
    </md-content>
    <md-content layout-padding layout style="padding-top: 0; margin-top: -10px">
        <section flex>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_GEOGRAPHICAL_EXTENT</span>:</div>
                <div>{{databaseDefinitions[database.geographical_extent]}}</div>
            </div>
            <div layout="row" ng-show="database.countries && database.countries.length">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_COUNTRIES</span>:</div>
                <span ng-repeat="c in database.countries">
                    <span>{{c.name}}</span>
                    <span ng-if="!$last">
                        -<span> </span>
                    </span>
                </span>
            </div>
            <div layout="row" ng-show="database.continents && database.continents.length">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_CONTINENTS</span>:</div>
                <span ng-repeat="c in database.continents">
                    <span>{{c.name}}</span>
                    <span ng-if="!$last">
                        -<span> </span>
                    </span>
                </span>
            </div>
            <div layout="row" ng-show="database.geographical_limit.en != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_GEOGRAPHICAL_LIMITS_DESCRIPTION</span>:</div>
                <div ark-force-lang="database.default_language" ark-get-translation ark-translations="database.geographical_limit"></div>
            </div>
            <div layout="row" ng-show="database.contexts.length">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_CONTEXT</span>:
                </div>
                <div>
                <span ng-repeat="c in database.contexts">
                    <span>{{databaseDefinitions[c.context]}}</span>
                    <span ng-if="!$last">
                        ,<span> </span>
                    </span>
                </span>
                </div>
            </div>
            <div layout="row" ng-show="database.context_description != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_CONTEXT_DESCRIPTION</span>:</div>
                <div>{{database.context_description}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_DATABASE_LANG</span>:</div>
                <div>{{database.lang.name}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_DESCRIPTION</span>:</div>
                <div ark-force-lang="database.default_language" ark-get-translation ark-translations="database.description"></div>
            </div>
            <div layout="row" ng-show="database.source_description != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_SOURCE_DESCRIPTION</span>:</div>
                <div>{{database.source_description}}</div>
            </div>
            <div layout="row" ng-show="database.source_relation != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_SOURCE_RELATION</span>:</div>
                <div>{{database.source_relation}}</div>
            </div>
            <div layout="row" ng-show="database.bibliography.en != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_BIBLIOGRAPHY</span>:</div>
                <div ark-force-lang="database.default_language" ark-get-translation ark-translations="database.bibliography"></div>
            </div>
            <div layout="row" ng-show="database.re_use.en != ''">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_RE_USE</span>:</div>
                <div ark-force-lang="database.default_language" ark-get-translation ark-translations="database.re_use"></div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_LICENSE</span>:</div>
                <div>{{database.license}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_ILLUSTRATIONS</span>:</div>
                <div>{{database.illustrations}}</div>
            </div>
            <div layout="row">
                <div>
                    <span translate>DATABASE.INFORMATIONS.T_IMPORTED_CSV</span>:
                </div>
                <div>
                    <a aria-label="{{'DATABASE.INFORMATIONS.T_IMPORTED_CSV' | translate}}" ng-click="downloadCSV()">{{database.imports[0].filename}}</a>
                </div>
                <div style="margin: -2px 0 0 10px">
                    <md-icon ng-click="showImportDialog($event)" aria-label="{{'DATABASE.INFORMATIONS.T_IMPORT_HISTORY' | translate}}" style="cursor:pointer">list</md-icon>
                </div>
            </div>
            <section ng-show="database.handles.length">
                <div layout="row">
                    <div>
                        <span translate>DATABASE.INFORMATIONS.T_HANDLE</span>:
                    </div>
                    <div>
                        {{database.handles[0].identifier}}
                    </div>
                    <div style="margin: -2px 0 0 10px">
                        <md-icon ng-click="showHandleDialog($event)" aria-label="{{'DATABASE.INFORMATIONS.T_HANDLE_HISTORY' | translate}}" style="cursor:pointer">list</md-icon>
                    </div>
                </div>
                <div layout="row">
                    <div>
                        <span translate>DATABASE.INFORMATIONS.T_HANDLE_URI</span>:
                    </div>
                    <div>
                        <a href="{{database.handles[0].url}}" title="{{database.handles[0].url}}" target="_blank">{{database.handles[0].url}}</a>
                    </div>
                </div>
        </section>
    </md-content>
    <md-content layout="row" layout-padding layout-align="center center" style="padding-top: 50px; padding-bottom: 20px">
        <md-button class="md-primary md-raised" ui-sref="arkeogis.import.step1({database_id: database.id})" ng-show="isAdmin || isOwner">
            <span translate>DATABASE.BUTTON_EDIT.T_LABEL</span>
        </md-button>
        <md-button class="md-raised md-hue-1" ng-click="showExportDialog($event)" ng-show="isAdmin || isOwner">
            <span translate>DATABASE.BUTTON_DOWNLOAD.T_TITLE</span>
        </md-button>
        <md-button class="md-raised md-warn" ng-click="delete()" ark-confirm="DATABASE.BUTTON_DELETE.T_CONFIRM" ng-show="isAdmin || isOwner">
            <span translate>DATABASE.BUTON_DELETE.T_LABEL</span>
        </md-button>
    </md-content>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="handleDialog">
        <md-dialog layout-padding aria-label="{{'handles' | translate}}" style="min-width:65%">
            <md-dialog-content>
                <h2 translate>DATABASE.POPUP_HANDLE_HISTORY.T_TITLE</h2>
                <md-list>
                    <md-list-item class="md-2-line" ng-repeat="item in database.handles">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{item.created_at | date:'short'}}</h3>
                            <p>
                                <span translate>DATABASE.INFORMATIONS.T_HANDLE</span>:
                                {{item.identifier}}
                            </p>
                            <p>
                                <span translate>DATABASE.INFORMATIONS.T_HANDLE_URL</span>:
                                <span>
                                    <a href="{{item.url}}" title="{{item.identifier}}" aria-label="{{item.identifier}}" target="_blank">{{item.url | date:'short'}}</a>
                                </span>
                            </p>
                            <p ng-show="item.declared_creation_date != '0001-01-01T00:00:00Z'">
                                <span translate>DATABASE.INFORMATIONS.T_HANDLE_DECLARED_CREATION_DATE</span>:
                                <span>{{item.declared_creation_date | date:'short'}}</span>
                            </p>
                        </div>

                    </md-list-item>
                </md-list>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="exportDialog">
        <md-dialog layout-padding aria-label="{{'handles' | translate}}" style="min-width:65%">
            <md-dialog-content>
                <h2 translate>DATABASE.POPUP_EXPORT.T_TITLE</h2>

                <p>
                    <h3 translate>DATABASE.POPUP_EXPORT_ARKEOGIS.T_TITLE</h3>
                    <p>
                        <md-button class="md-raised md-hue-1" ng-click="downloadExportArkeogis(false, false)" ng-show="isAdmin || isOwner">
                            <span translate>DATABASE.BUTTON_DOWNLOAD_ARKEOGIS.T_TITLE</span>
                        </md-button>
                    </p>
                </p>

                <br />

                <p>
                    <h3 translate>DATABASE.POPUP_EXPORT_ARKEOGIS_INTEROPERABLE.T_TITLE</h3>
                    <p>
                        <md-button class="md-raised md-hue-1" ng-click="downloadExportArkeogis(true, true)" ng-show="isAdmin || isOwner">
                            <span translate>DATABASE.BUTTON_DOWNLOAD_ARKEOGIS_INTEROPERABLE.T_TITLE</span>
                        </md-button>
                    </p>
                </p>

                <br />

                <p>
                    <h3 translate>DATABASE.POPUP_EXPORT_OMEKA.T_TITLE</h3>

                    <p>
                        <label translate>DATABASE.POPUP_EXPORT_OMEKA_CHOOSECHRONO.T_TITLE</label>
                        <md-select required name="chronology" ng-model="chronoselected">
                            <md-option ng-value="-1" translate>DATABASE.POPUP_EXPORT_OMEKA_CHOOSECHRONO.T_CHOOSECHRONO</md-option>
                            <md-option ng-value="0" translate>DATABASE.POPUP_EXPORT_OMEKA_CHOOSECHRONO.T_NOCHRONO</md-option>
                            <md-option ng-repeat="chrono in chronolist" ng-value="chrono.id">{{chrono.nameTranslated}}</md-option>
                        </md-select>
                        <a ng-show="isAdmin || isOwner" class="md-button md-raised md-hue-1" ng-disabled="chronoselected < 0"
                            translate
                            href="/api/database/{{database.id}}/exportOmeka?chronologyid={{chronoselected}}">DATABASE.BUTTON_DOWNLOAD_OMEKA.T_TITLE</a>
                    </p>
                </p>

                <p>
                    <h3 translate>DATABASE.POPUP_EXPORT_ARKEOGIS_XML.T_TITLE</h3>
                    <p>
                        <md-button class="md-raised md-hue-1" ng-click="downloadExportArkeogisXML()" ng-show="isAdmin || isOwner">
                            <span translate>DATABASE.BUTTON_DOWNLOAD_ARKEOGIS_XML.T_TITLE</span>
                        </md-button>
                    </p>
                </p>

                <br />

            </md-dialog-content>
        </md-dialog>
    </div>
</div>


<div style="visibility: hidden">
    <div class="md-dialog-container" id="importDialog">
        <md-dialog layout-padding aria-label="{{'imports' | translate}}" style="min-width:65k%">
            <md-dialog-content>
                <h2 translate>DATABASE.POPUP_IMPORT_HISTORY.T_TITLE</h2>
                <md-list>
                    <md-list-item class="md-2-line" style="min-height: 105px" ng-repeat="item in database.imports">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{item.created_at | date:'short'}}</h3>
                            <p>
                                <span translate>DATABASE.INFORMATIONS.T_NUMBER_OF_LINES</span>:
                                {{item.number_of_lines}}
                            </pkkk>
                            <p>
                                <span translate>DATABASE.INFORMATIONS.T_NUMBER_OF_SITES</span>:
                                {{item.number_of_sites}}
                            </p>
                            <p>
                                <span translate>DATABASE.INFORMATIONS.T_IMPORTED_CSV</span>:
                                <a aria-label="{{'DATABASE.INFORMATIONS.T_IMPORTED_CSV' | translate}}" ng-click="downloadCSV(item.id)">{{item.filename}}</a>
                            </p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-dialog-content>
        </md-dialog>
    </div>
</div>
